<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.thelazychef">
    <!-- Internet permissions for OkHTTP -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AdvancedSearchResults"></activity>
        <activity android:name=".AdvancedSearch" />
        <activity android:name=".ContactUs" />
        <activity android:name=".NetworkError" />
        <activity android:name=".SearchByIngredientsResults" />
        <activity android:name=".WinePairingsResults" />
        <activity android:name=".FindRecipesResults" />
        <activity android:name=".NutritionQAResults" />
        <activity android:name=".Test" />
        <activity android:name=".NutritionQA" />
        <activity android:name=".WinePairings" />
        <activity android:name=".FindRecipes" />
        <activity android:name=".SearchByIngredients" />
        <activity android:name=".Explore" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>